{
  'root': true,
  'env': {
    'browser': true,
    'commonjs': true,
    'es6': true,
    'node': true
  },
  'extends': [
    'standard',
    'eslint:recommended',
  ],
  // Using babel-eslint parser for decorators
  'parser': 'typescript-eslint-parser',
  'parserOptions': {
    'ecmaFeatures': {
      'experimentalObjectRestSpread': true,
    },
    'sourceType': 'module'
  },
  'plugins': ['typescript'],
  'rules': {
    'no-undef': 'off',
    'no-console': 0,
    'valid-jsdoc': [
      'warn', {
        'requireReturn': true,
        'requireReturnType': true,
        'requireParamDescription': true,
        'requireReturnDescription': true
      }
    ]
  }
}
